.container-item {
    width: 300px;
    height: 330px;
    margin: 5px;
    justify-content: center;
    align-content: center;
    background-color: white;
    border: 2px solid purple;
    border-radius: 5px;
    cursor: pointer;
}
.container-img p {
    text-align: center;
    margin: 5px;
    font-weight: 600;
}
.container-img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
}
.card-img {
    width: 230px;
    height: 230px;
    object-fit: cover;
    
}
.container-item:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
    transform:translateY(-2%);
}
