.container-count {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    border: 2px solid purple;
    margin-left: 10px;
}
.btn-count {
    width: 35px;
    background-color: purple;
    color: white;
    cursor: pointer;
}
.parr-count {
    width: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.container-cart {
    margin-left: 10px;
    margin-top: 2px;
}
.btn-cart {
    border: 2px solid grey purple;
    background-color: purple;
    color: white;
    cursor: pointer;
}
.btn-cart:hover{
    background-color: white;
    color: purple;
}