.Cart {
    width: 60px;
    color:white;
    border-radius: 5px;
    cursor: pointer;
}
.Cart svg {
    width: 50px;
    height: 50px;
    color: white;
}
.Cart p{
    display: flex;
    justify-content: center;
    margin: auto;
    border: 1px solid white;
    background-color: white;
    color: purple;
    border-radius: 50px;
    width: 50%;
    margin-top: 10px;
}
.Cart:hover{
    transform: scale(1.1,1.1);
}